.table-alert{margin-top:10px}
.program-table tbody tr{
    text-align: center;
 }
.program-table{
    width:90%;
    margin:auto;
    margin-bottom: 30px;
    border:solid 1px black !important;
}
.program-table thead{
    text-align: center;
}
.program-table .row-descriptiopn{
    max-width: 460px;
    text-align: justify
}
.program-table .row-name{
    text-align: justify
}
.program-table .in-active{
    color: rgba(122, 114, 114, 0.527);
 }